---
const { path } = Astro.props
---

<a href={path}>
    <slot/>
</a>

<style>
    a{  
        display: grid;
        align-items: center;
        justify-content: center;
        width: 60px;
        position: relative;
    }
    a:hover::after{
        position: absolute;
        content: " ";
        width: 80px;
        height: 35px;
        left: -20%;
        top: -100%;
        border: solid 1px var(--grey-color);
        border-radius: 50%;
        animation: rotate 300ms forwards;
        transform-origin: center;
    }
    
    @keyframes rotate {
        0%{
            opacity: 0;
            transform: rotate(0deg);
        }
        10%{
            opacity: 0.5;  
        }
        70%{
            opacity: 0.5;  
            transform: rotate(-35deg);
        }
        100%{
            transform: rotate(-35deg);
            opacity: 1;
        }
    }
</style>