---
import getBlogById from "../components/adapters/getBlogById"
import Layout from "../layouts/Layout.astro"

const { id } = Astro.params

const data = await getBlogById(id)
console.log('data', data)
---

<Layout tittle={data.heading} >
    <section>
        <picture>
            <img style="view-transition-name: image_detail;" src={data.image} alt="">
        </picture>
        <h4>{data.heading}</h4>
    </section>
</Layout>

<style>
    img{
        width: 200px;
    }
</style>