---
import Layout from "../layouts/Layout.astro"
---

<Layout tittle="Mindcare - About" >
    <section>
        <div>
            <h1>about</h1>
        </div>
    </section>
</Layout>

<style>
    section{
        display: grid;
        align-items: center;
        height: 100%;
    }
</style>