---
import Layout from "../layouts/Layout.astro";
---

<Layout tittle="Mindcare - Blog" >
    <section>
        <div>
            <h1>blog</h1>
        </div>
    </section>
</Layout>

<style>
    section{
        display:grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>