---
import Layout from "../layouts/Layout.astro";
import ConsultForm from "../components/react/forms/ConsultForm"
import InstagramButton from "../components/buttons/InstagramButton.astro";
import MetaButton from "../components/buttons/MetaButton.astro";
import WhatsappButton from "../components/buttons/WhatsappButton.astro";
---

<Layout title="Mindcare - Contacto" >
    <section>
        <div class="contact_box_info" >
            <header>
                <h1>Dejanos tu consulta</h1>
                <h2>ESTAMOS AQUÍ PARA AYUDARTE, COMPLETÁ EL FORMULARIO Y NUESTRO EQUIPO SE PONDRÁ EN CONTACTO CON VOS PARA BRINDARTE LA ORIENTACIÓN QUE NECESITÁS.</h2>
            </header>
            <div class="contact_container_subheading" >
                <div class="contact_box_subheading_left" >
                    <div>
                        <h3>podemos asesorarte </h3>
                        <p>Si tenés dudas o necesitás más información, no te preocupes. Estamos disponibles para resolver tus consultas y guiarte en el proceso.</p>
                    </div>
                    <img src="image/mindcare-consulta.webp" alt="">
                </div>
                <div class="contact_box_subheading" >
                    <img src="image/mindcare3.webp" alt="">
                    <div>
                        <h3>coordina una entrevista</h3>
                        <p>Si lo preferís, podemos organizar una entrevista inicial para entender mejor tus necesidades y asignarte al profesional indicado.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="contact_box_buttons" >
                    <InstagramButton/>
                    <span>holapsicocaro</span>
                </div>
                <div class="contact_box_buttons" >
                    <MetaButton/>
                    <span>psicosolucionesonline.com.ar</span>
                </div>
                <div class="contact_box_buttons" >
                    <WhatsappButton/>
                    <span>11 5637-1191</span>
                </div>
            </div>
        </div>
        <div class="contact_box_form" >
            <ConsultForm client:only="react" />
        </div>
    </section>
</Layout>

<style>
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        gap: 50px;
        padding: 80px 15px 50px 15px;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        width: 550px;
        margin-left: 3px;
    }
    h3{
        font-size: 2rem;
    }
    p{
        width: 400px;
        text-wrap: balance;
        text-transform: uppercase;
    }
    img{
        width: 200px;
        height: 60px;
        border-radius: 150px;
        object-fit: cover;
        border: solid 4px var(--primary-color);
    }
    span{
        font-size: 12px;
    }
    .contact_container_subheading{
        display: grid;
        gap: 10px;
    }
    .contact_box_info{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
    }
    .contact_box_subheading_left{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 20px;
    }
    .contact_box_subheading{
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 20px;
    }
    .contact_box_form{
        display: flex;
        align-items: flex-start;
        height: 70%;
    }
    .contact_box_buttons{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 8px;
    }

    @media
        (width < 700px){
            section{
                flex-direction: column;
                height: 100%;
            }
            h1{
                font-size: 2.5rem;
            }
            h2{
                width: 300px;
            }
            p{
                width: 300px;
            }
            .contact_container_subheading{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
            }
            .contact_box_subheading_left{
                flex-direction: column;
                justify-content: center;
            }
            .contact_box_subheading{
                flex-direction: column-reverse;
                justify-content: center;
            }
            img{
                width: 90%;
            }
        }
</style>