---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
	const navbar = document.getElementById('navbar')

	window.addEventListener('scroll',()=>{
		if(window.scrollY > 10){
			navbar?.classList.add('scrolled')
		}else {
			navbar?.classList.remove('scrolled')
		}
	})
</script>

<Layout title="Mindcare - Doctores" >
    <section>
        <div class="blog_box_banner" >
            <Banner message="PROXIMAMENTE" />
        </div>
    </section>
</Layout>

<style>
    section{
        display:grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .blog_box_banner{
        z-index: 10;
        position: fixed;
        left: 50%;
        top: 60%;
        transform: translate(-50%,50%);
    }
</style>