---
import Layout from "../layouts/Layout.astro";
---

<Layout tittle="Mindcare - Doctores" >
    <section>
        <h1>doctores</h1>
    </section>
</Layout>

<style>
    section{
        display:grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>