---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Políticas de privadad de Mindcare" >
    <section>
        <article>
            <header>
                <h1>Políticas de privacidad</h1>
                <p>En MindCare, respetamos y protegemos la privacidad de nuestros usuarios. Este documento describe cómo recopilamos, utilizamos y protegemos la información personal proporcionada a través de nuestro sitio web www.mindcare.com.ar. Al utilizar nuestro sitio web, aceptas los términos descritos a continuación.</p>
            </header>
            <div class="privacy_article_box" >
                <h3>1. Información que recopilamos</h3>
                <h4>a. Formulario de contacto</h4>
                <p>Al completar el formulario de contacto, solicitamos los siguientes datos:</p>
                <ul>
                    <li>Nombre.</li>
                    <li>Correo electrónico.</li>
                    <li>Teléfono.</li>
                    <li>Mensaje que desees enviarnos.</li>
                </ul>
                <p>Esta información es utilizada únicamente para responder tus consultas y ofrecerte el soporte necesario.</p>
                <h4>b. Botón de WhatsApp</h4>
                <p>Cuando interactúas con nuestro botón de WhatsApp, la comunicación se realiza directamente a través de esa plataforma. No almacenamos ni registramos estas conversaciones en nuestros sistemas.</p>
                <h4>c. Newsletter</h4>
                <p>Al suscribirte a nuestro servicio de newsletter, recopilamos y almacenamos los siguientes datos:</p>
                <ul>
                    <li>Nombre.</li>
                    <li>Correo electrónico.</li>
                </ul>
                <p>Usamos esta información para enviarte contenidos relacionados con nuestras novedades, servicios y artículos del blog. Puedes darte de baja en cualquier momento utilizando el enlace de "Cancelar suscripción" incluido en todos nuestros correos.</p>
                <h4>d. Cookies y tecnologías similares</h4>
                <p>Utilizamos cookies para mejorar tu experiencia de navegación. Estas permiten personalizar el contenido, analizar el tráfico y recordar tus preferencias. Puedes configurar tu navegador para rechazar cookies; sin embargo, esto podría afectar algunas funcionalidades del sitio.</p>
                <h4>e. Blog</h4>
                <p>Si interactúas con nuestro blog (por ejemplo, dejando comentarios o participando en encuestas), podríamos recopilar información adicional, como tu nombre o dirección de correo electrónico.</p> 
            </div>
            <div class="privacy_article_box" >
                <h3>2. Uso de la información</h3>
                <p>Los datos recopilados son utilizados con los siguientes fines:</p>
                <ul>
                    <li>Responder consultas y solicitudes enviadas a través del formulario.</li>
                    <li>Brindar soporte y orientación a través de WhatsApp.</li>
                    <li>Enviar contenido informativo a través de nuestro newsletter, únicamente si te has suscrito.</li>
                    <li>Analizar y mejorar nuestra página web y servicios.</li>
                    <li>Enviar información relevante, como actualizaciones sobre nuestros contenidos o servicios, si expresas tu consentimiento para recibirla.</li>
                </ul>
                <p>No compartimos ni vendemos tu información personal a terceros, salvo cuando sea requerido por ley o para cumplir con obligaciones legales.</p>
            </div>
            <div class="privacy_article_box"  >
                <h3>3. Protección de la información</h3>
                <p>Implementamos medidas de seguridad técnicas y organizativas para proteger tu información contra el acceso no autorizado, alteración, divulgación o destrucción. Sin embargo, ningún sistema es completamente seguro, por lo que no podemos garantizar una seguridad absoluta.</p>
            </div>
            <div class="privacy_article_box" >
                <h3>4. Terceros</h3>
                <p>Nuestra página puede incluir enlaces a sitios web de terceros (como WhatsApp o plataformas externas). No somos responsables por las políticas de privacidad ni por el manejo de la información de dichos sitios. Te recomendamos revisar las políticas de privacidad de estos terceros antes de proporcionarles información personal.</p>
            </div>
            <div class="privacy_article_box" >
                <h3>5. Derechos del usuario</h3>
                <p>De acuerdo con la Ley Nº 25.326, tienes derecho a:</p>
                <ul>
                    <li>Acceder a los datos que almacenamos sobre ti.</li>
                    <li>Rectificar cualquier dato incorrecto.</li>
                    <li>Solicitar la eliminación de tu información personal.</li>
                    <li>Oponerte al tratamiento de tus datos en cualquier momento.</li>
                </ul>
                <p>Para ejercer estos derechos, por favor contáctanos a través del correo electrónico:</p>
                <p>consultasmindcare@gmail.com</p>
            </div>
            <div class="privacy_article_box" >
                <h3>6. Cambios en las políticas de privacidad</h3>
                <p>Nos reservamos el derecho de modificar estas políticas en cualquier momento. Cualquier cambio será notificado a través de esta página. Te recomendamos revisarlas periódicamente para mantenerte informado.</p>
            </div>
            <div class="privacy_article_box" >
                <h3>7. Contacto</h3>
                <ul>
                    <li>Correo electrónico: consultasmindcare@gmail.com</li>
                    <li>WhatsApp: +54 11 5637-1191</li>
                </ul>
            </div>
            <div>
                <p>Fecha de última actualización: Febrero del 2025.</p>
            </div>
        </article>
    </section>
</Layout>

<style>
    section{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-block: 100px;
    }
    article{
        display: grid;
        width: 1000px;
        gap: 25px;
    }
    header{
        padding-block: 15px;
        border-bottom: solid 1px;
    }
    h1{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
    li{
        font-size: 12px;
    }
    .privacy_article_box{
        padding-block: 15px;
        border-bottom: solid 1px;
    }
</style>