---
---

<section>
    <h3>CENTRO DE SALUD MENTAL</h3>
    <span>/</span>
    <h3>CENTRO DE SALUD MENTAL</h3>
</section>

<style>
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;   
    }
</style>