---
---

<section>
    <div>
        <div class="info_suscribe_container" >
            <div class="inf_suscribe_box" >
                <h3>suscribite</h3>
                <input
                    type="text"
                    placeholder="EMAIL"
                >
            </div>
            <p>DEJANOS TU EMAIL PARA RECIBIR INFORMACION SOBRE NUESTROS SERVICIOS, ES GRATIS!</p>
        </div>
        <div>
            <p>MIRA NUESTRA CARTILLA DE PROFESIONALES</p>
            <div>
                <img src="image/mindcare3.webp" alt="">
                <h3>nuestros doctores</h3>
            </div>
        </div>
        <div>
            <div>
                <h3>mirá nuestro blog</h3>
                <img src="image/mindcare3.webp" alt="">
            </div>
            <p>MANTENETE ACTUALIZADO CON LAS NOTICIAS E INFORMACIÓN SOBRE EL BIENESTAR MENTAL</p>
        </div>
    </div>
</section>

<style>
    section{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    input{
        margin-bottom: 8px;
    }
    .info_suscribe_container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;
        p{
            width: 200px;
            text-wrap: balance;
        }
    }
    .inf_suscribe_box{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;
    }
</style>