---
---

<section>
    <div>
        <div>
            <div>
                <h3>suscribite</h3>
                <input type="text">
            </div>
            <p>DEJANOS TU EMAIL PARA RECIBIR INFORMACION SOBRE NUESTROS SERVICIOS, ES GRATIS!</p>
        </div>
        <div>
            <p>MIRA NUESTRA CARTILLA DE PROFESIONALES</p>
            <div>
                <img src="image/mindcare3.webp" alt="">
                <h3>nuestros doctores</h3>
            </div>
        </div>
        <div>
            <div>
                <h3>mirá nuestro blog</h3>
                <img src="image/mindcare3.webp" alt="">
            </div>
            <p>MANTENETE ACTUALIZADO CON LAS NOTICIAS E INFORMACIÓN SOBRE EL BIENESTAR MENTAL</p>
        </div>
    </div>
</section>

<style>
    section{
        background-color: transparent;
    }
    div{
        background-color: transparent;
    }
</style>