---
import Suscribe from '../components/react/forms/suscribeForm/Suscribe'
---

<section>
    <div class="info_container" >
        <Suscribe client:only="react" />
        <div class="info_aling" >
            <p class="info_text text_rigth" >MIRA NUESTRA CARTILLA DE PROFESIONALES</p>
            <div class="info_aling info_box_text" >
                <img src="image/mindcare3.webp" alt="">
                <a href="/doctores">
                    <h3>nuestros doctores</h3>
                </a>
            </div>
        </div>
        <div class="info_aling" >
            <div class="info_aling info_box_text" >
                <a href="/blog">
                    <h3>mirá nuestro blog</h3>
                </a>
                <img src="image/mindcare-consulta.webp" alt="">
            </div>
            <p class="info_text" >MANTENETE ACTUALIZADO CON LAS NOTICIAS E INFORMACIÓN SOBRE EL BIENESTAR MENTAL</p>
        </div>
    </div>
</section>

<style>
    section{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    a:hover{
        color: var(--grey-color);
    }
    img{
        width: 200px;
        height: 60px;
        border-radius: 150px;
        object-fit: cover;
    }
    .info_container{
        display: grid;
        gap: 20px;
    }
    .info_aling{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .info_box_text{
        padding: 12px 16px;
        border-radius: 50px;
        background-color: var(--primary-color);
    }
    .info_text{
        width: 200px;
        text-wrap: balance;
    }
    .text_rigth{
        text-align: right;
    }

    @media
        (width < 700px){
            .info_container{
                align-items: center;
            }
            .info_aling{
                flex-direction: column;
                text-align: center;
                width: 100%;
            }
            .info_text{
                text-align: center;
            }
            .info_box_text{
                padding: 15px 0;
            }
        }
</style>