---
import WhatsappButton from "./buttons/WhatsappButton.astro";
import InstagramButton from "./buttons/InstagramButton.astro";
import MetaButton from "./buttons/MetaButton.astro";
---

<section>
	<div  class="contanier_heading"  >
		<div>
			<div>
				<h3>centro</h3>
			</div>
			<div>
				<div>
				
				</div>
				<div class="box_heading"  >
					<div>
						<img
							class="image1" 
							src='image/mindcare.webp' 
							alt=""
						>
					</div>
					<div class="heading" >
						<div class="box_tittle" >
							<h1>mindcare</h1>
							<img
								class="arrow_icon" 
								src="icons/arrow.svg" 
								alt="mindcare icon arrow"
							>
						</div>
						<div class="container_subheading" >
							<div class="box_icons" >
								<img
									class="image3"
									src="image/mindcare3.webp" 
									alt="mincare image"
								>
								<div class="box_icon_heard" >
									<img 
										class="heard_icon"
										src="icons/heard.svg" 
										alt="mindcare icon heard"
									>
								</div>
							</div>
							<div>
								<h2>EN MINDCARE TE CONECTAMOS CON EL PREFESIONAL IDEAL QUE MÁS SE ADAPTE A TUS NECESIDADES</h2>
								<div class="box_icons_networks" >
									<MetaButton/>
									<InstagramButton/>
									<WhatsappButton/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box_image_main" >
			<img 
				class="image2"
				src="image/mindcare2.webp" 
				alt="mindcare image"
			>
			<img
				class="circle_mindcare"
				src="icons/circleMindcare.svg" 
				alt=""
			>
		</div>
	</div>
</section>

<style>
	section{
		margin-top: 50px;
		display: grid;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}	
	.contanier_heading{
		display: flex;
		margin-right: -50px;
	}
	.box_heading{
		display: flex;
		align-items: flex-start;
	}
	.heading{
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		row-gap:8px;
	}
	.container_subheading{
		display: flex;
		justify-content: left;
		gap: 25px;
		h2{
			width: 290px;
			text-wrap: pretty;
		}
	}
	.box_tittle{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		background-color: var(--rose-color-transparent);
		padding-inline: 20px;
		border-radius: 50px;
	}
	.box_icons{
		display: flex;
		align-items: center;
		justify-content: left;
		gap: 8px;
	}
	.arrow_icon{
		width: 60px;
		height: 60px;
	}
	.box_icon_heard{
		display: grid;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: solid 4px var(--white-color);
		background-color: var(--rose_color);
	}
	.heard_icon{
		width: 50px;
	}
	.box_icons_networks{
		display: flex;
		align-items: center;
		justify-content: left;
		margin-top: 10px;
		gap: 30px;
	}
	.image1{
		width: 100px;
		border-radius: 70px;
		border: solid 4px var(--white-color);
	}
	.image2{
		position: relative;
		z-index: -1;
		border-radius: 80px;
		border: solid 4px var(--white-color);
		width: 200px;
		top: -50px;
		left: -40px;
	}
	.image3{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: solid 4px var(--white-color);
	}
	.box_image_main{
		display: flex;
		align-items: flex-start;
	}
	.circle_mindcare{
		z-index: -2;
		position: relative;
		width: 150px;
		margin-top: -90px;
		margin-left: -130px;
		animation: rotation_circle 50s linear infinite;
	}
	@keyframes rotation_circle {
		from{
			transform: rotate(0deg);
		}
		to{
			transform: rotate(360deg);
		}
	}
</style>

