---
import ButtonCustom from "./buttons/ButtonCustom.astro";
---

<script>
    const tab = document.getElementById('tab')
    const menu = document.getElementById('navbar')

    tab?.addEventListener('click',()=>{
        if(menu && !menu.style.height || menu?.style.height === "0px"){
            menu.style.height = "200px"
            return
        }
        if(menu && !menu.style.height || menu?.style.height === "200px"){
            menu.style.height = "0px"
            return
        }
    })
</script>

<section>
    <aside id="navbar" >
        <ButtonCustom path="/contacto">
            CONTACTO
        </ButtonCustom>
        <ButtonCustom path="/about">
            ABOUT
        </ButtonCustom>
        <ButtonCustom path="/doctores">
            DOCTORES
        </ButtonCustom>
        <ButtonCustom path="/blog">
            BLOG
        </ButtonCustom>
    </aside>
    <svg
        id="tab"
        width="35"  
        height="35"  
        viewBox="0 0 24 24"  
        fill="none"  
    >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 6h16" />
        <path d="M7 12h13" />
        <path d="M10 18h10" />
    </svg>
</section>

<style>
    section{
        z-index: 9;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 0;
        width: 100%;
        height: 80px;
        transform: translateX(-50%);
    }
    aside{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px var(--grey-color);
        width: 100%;
        height: 80px;
        gap: 30px;
        transition: all ease 200ms;
    }
    aside:hover{
        background-color: var(--primary-color);
    }
    .scrolled{
        background: var(--primary-color);
    }
    #tab{
        display: none;
    }

    @media
        (width < 700px){
            aside{
                flex-direction: column;
                height: 0px;
                width: 100%;
                overflow: hidden;
            }
            section{
                flex-direction: column;
                justify-content: flex-start;
                height: 200px;
                width: 100%;
            }
            #tab{
                z-index: 10;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                display: flex;
                stroke-width: 1px;
                stroke: var(--secundary-color);
            }
        }
</style>