---
---

<aside>
    <a href="">CONTACTO</a>
    <a href="">ABOUT</a>
    <a href="">DOCTORES</a>
    <a href="">BLOG</a>
</aside>

<style>
    aside{
        position: fixed;
        top: 0px;
        left: 50%;
        width: 100%;
        height: 70px;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px var(--grey-color);
        gap: 50px;
    }
</style>